body {
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    background-image: url(books-2606859_1280.jpg);
    height: 500px;
    text-align: center;
}

.menu {

display: flex;
flex-direction: row;
align-items: center;
width: 100%;
justify-content: center;
}

.kafel {

    width: 100px;
    height: 50px;
    background-color: gray;
    color: white;
    border: 2px solid black;
    text-align: center;
}

.kafel:hover {

    width: 100px;
    height: 50px;
    background-color: lightgray;
    color: white;
    border: 2px solid black;
    text-align: center;
}

.kafel:active {

    width: 100px;
    height: 50px;
    background-color: wheat;
    color: white;
    border: 2px solid black;
    text-align: center;
}

h1 {
    color: white;
    font-size: 50px;
    background-color: gray;
}

.ok {
    color: white;
    font-size: 50px;
    background-color: red;
    width: 100%;
}

a {
    text-decoration: none;
    
}

.offd {
    display: flex;
    width: 70%;
    flex-direction: row;
}

.oftd {
    display: flex;
    justify-content: center ;
    flex-direction: column;
    align-items: center;
}

h3 {

    color: red;
}

.NK {

    display: flex;
    justify-content: center;
}

.ons {

    text-align: center;
    width: 60%;
    font-size: 30px;
}

footer {

    background-color: rgb(84, 74, 74);
    width: 100%;
    height: 200px;
    text-align: center;
}

.win {
    display: flex;
    width: 70%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

}

.onassek {
    display: flex;
    align-items: center;
    justify-content: center;
  

}

.onasdiv {

    display: flex;
    width: 70%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

a {

    text-decoration: none;
    color: black;
}